/*Fuentes*/
div.z-listfooter-cnt, div.z-listcell-cnt, div.z-listheader-cnt {
    font-size: 12px;
}

/*Elementos Estandar*/
/*Window*/
.z-portalchildren-cnt {
    width: 800px;
}

.z-icon-store:before {
    font-family: FontAwesome;
    content: "\f54e";
}

.z-menu-content i, .z-menuitem-content i {
    vertical-align: text-top !important;
}

.z-comboitem-image > img {
    height: auto;
    width: auto;
    max-width: 26px;
    max-height: 26px;
}

.icono {
    max-width: 32px;
    max-height: 32px;
}

.iconoh {
    max-height: 32px;
}

.iconov {
    max-width: 32px;
}

/*Listbozx*/
div.z-listbox {
    overflow: visible;
}

/*Textbox*/
/*Textbox Redondeado*/
.z-textbox-rounded-inp {
    width: 75px;
}

/*Textbox normal}*/

.z-caption-content {
    font-weight: bold;
}

.z-caption-content:after {
    content: "  \f107";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    /*where to replace the icon */
    right: -10px;
}


.z-textbox {
    padding: 8px;
}

.z-listbox-header-bg {
    background-image: none;
}

div.z-listbox-header th.z-listheader-sort div.z-listheader-cnt {
    padding: 2px 5px;
}

div.z-listheader-cnt, div.z-listbox-header div.z-auxheader-cnt {
    padding: 2px 5px;
}

/*
.z-listbox-body .z-listcell {
    padding: 2px 5px;
}
*/
.z-groupbox-cnt {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: none solid solid;
    border-width: medium 2px 2px;
    border-color: -moz-use-text-color #000000 #000000;
    overflow: hidden;
    padding: 5px;
}


.z-groupbox-hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000 #000000 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 2px 2px medium;
    position: relative;
    top: 8px;
}


.z-groupbox-header span.z-caption-cnt {
    font-weight: bold;
    font-size: 14px;
}

/*Fin Textbox*/
/*Datebox*/
/*Datebox normal
    font-size: 12px;
    width: 64px;
*/
.z-datebox-inp {

}

/*Fin Datebox*/
/*Combobox
    font-size:12px;
    width: 64px
    */
.z-combobox-inp {

}

/*Fin Combobox*/
/*Intbox
    width: 86px;
    height: 15px;
    */
.z-intbox {

    vertical-align: bottom;
    text-align: left;
}

/*Fin Intbox*/
.ventanaFlotante {
    /* width: 700px; */
}

.ventana300 {
    width: 325px;
}

.ventana600 {
    width: 600px;
}

/*
.cajaLabel{
 width: 100px;
    vertical-align:bottom;
}
*/
.cajaLabelValor {
    background-color: #FAFAFA;
    border: 1px solid #C0C0C0;
    height: 15px;
    padding-left: 2px;
    padding-top: 1px;
    text-align: center;
    vertical-align: bottom;
    width: 88px;
}

.obligatorio {
    background: #e8be8d;
}

.cajaLabelDireccion {
    background-color: #FAFAFA;
    border: 1px solid #C0C0C0;

    padding-left: 2px;
    padding-top: 1px;
    text-align: center;

    width: 120px;
    height: 45px;
}

/*Formularios*/
/*Fomrularios De Busqueda*/
/*Fin Formularios*/

.centrado {
    margin: 0 auto;
}

textarea {
    padding: 8px;
}

div.z-listheader-cnt {
    font-size: 11px;
    font-weight: bold;
}

div.z-listcell-cnt {
    font-size: 11px;
}

/*
.z-label{
    font-size:12px;
    vertical-align: bottom;
    line-height: 18px;
}
*/

.z-comboitem, .z-comboitem-text {
    height: 28px;
}


/*Clases para fuentes*/
.titulo {
    font-weight: bold;
    font-size: 18px;
}

.texto {
    font-weight: normal;
    font-size: 14px;
}

.titulo12P {
    font-weight: bold;
    font-size: 12px;
}

.texto11P {
    font-weight: normal;
    font-size: 11px;
}

.titulo2 {
    font-weight: bold;
    font-size: 13px;
}

.textDireccion {
    width: 150px;
}

.colVentana2 {
    width: 250px;
}

.grid {
    margin: 0 auto;
}

.grid1 {
    width: 300px;
}

.grid2 {
    width: 400px;
}

.textboxLargo {
    width: 200px;
}

.pointer {
    cursor: pointer;
}

.titulo3 {
    font-size: 15px;
    font-weight: bold;
}

.titulo4 {
    font-size: 15px;
    font-weight: bold;
}

.botonVentanaImp {
    border: 1px solid #c0c0c0;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    width: 220px;

}

.warning {
    color: #ff0000;
}

/* eso es para que aparezca el scroll bar horizontal para las tablets*/
.z-window-content {
    overflow: auto;
}

/* eso limitar los scrollbar solo a la parte que interesa pero no funciona.... toco dejar el de ariba*/
.z-center-body {
    overflow: auto;
}

.z-hlayout-inner {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    white-space: normal;
}

.z-vlayout-inner {
    vertical-align: top;
    white-space: normal;
}

.infodiv {
    height: 17px;
    margin-right: 5px;
    text-align: left;
    padding-left: 5px;
    border: 1px solid #c0c0c0;
    background: #F3F3F3;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
}

.expand {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}

.z-textbox-disd, .z-decimalbox-disd, .z-intbox-disd, .z-longbox-disd, .z-doublebox-disd, .z-combobox-disd, .z-combobox-disd *, .z-spinner-disd, .z-spinner-disd *, .z-doublespinner-disd, .z-doublespinner-disd *, .z-timebox-disd, .z-timebox-disd *, .z-datebox-disd, .z-datebox-disd *, .z-bandbox-disd, .z-bandbox-disd *, .z-comboitem-disd, .z-comboitem-disd *, .z-combobox-disd, .z-combobox-disd * {
    opacity: 0.8;
    color: black !important;
}

